{% extends "base.html" %}
{% block title %} Ошибка 500 {% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Ошибка 500</h1>
            <p class="lead">Вы зашли на секретную страницу сайта, на нее попадают менее 0.01% пользователей.</p>
            <p class="lead">Мы подумаем, что с этим сделать </p>
            <p class="lead"><a href="{% url 'index' %}">Вернуться на главную</a></p>
        </div>
    </div>
</main>

{% endblock %}
