{% extends "base.html" %}
{% block title %}Восстановление пароля{% endblock %}
{% load i18n static %}
{% load user_filters %}
{% block css %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'на Главную' %}</a>
&rsaquo; {% translate 'Подтверждение сброса пароля' %}
</div>
{% endblock %}

{% block content %}

<main class="container">
  {% if validlink %}   
    <div class="main__header">
      <h1 class="main__title justify-content-center">Восстановление пароля</h1>
    </div>
    <div class="form">
      <p>{% translate "Пожалуйста, введите свой новый пароль дважды, чтобы мы могли убедиться, что вы ввели его правильно." %}</p>
      <form class="" method="post">{% csrf_token %}

        <div class="form__group row">
          <label for="id_username" class="form__label col">{% translate 'Логин:' %}</label>
          <div class="form__field-group col">
            <input class="form__input" disabled id="id_username" autocomplete="username" value="{{ form.user.get_username }}">
          </div>
        </div>

        <div class="form__group row">
          {{ form.new_password1.errors }}
          <label class="form__label col" for="id_new_password1">{% translate 'Новый пароль:' %}</label>
          <div class="form__field-group col">
            {{ form.new_password1|addclass:"form__input" }}
          </div>
        </div>
        <div class="form__group row">
          {{ form.new_password2.errors }}
          <label class="form__label col" for="id_new_password2">{% translate 'Повторите пароль:' %}</label>
          <div class="form__field-group col">
            {{ form.new_password2|addclass:"form__input" }}
          </div>
        </div>
        <input class="button button_style_blue" type="submit" value="{% translate 'Изменить мой пароль' %}">

      </form>
    </div>
  {% else %}
    <p>{% translate "Ссылка для сброса пароля была недействительной, возможно, потому, что она уже использовалась. Пожалуйста, запросите
    новый сброс пароля." %}</p>
  {% endif %}
</main>
{% endblock %}
