{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% load static %}
{% block css %}<link rel="stylesheet" href='{% static "pages/index.css" %}'>{% endblock %}
{% block content %}
<div class="container">
  <h1 class="custom-button-block custom-button-block row align-items-center mt-3">{{ title }}</h1>
  <div class="row align-items-center">
    <div class="col-sm-2 mt-3">
      <h4 class="">Дата</h4>
    </div>
    <div class="col-md-3 col-lg-2 mt-3">
      <input id="cur__date" class="form-control form-control-lg  custom-button-block" type="date" name="calendar" value="2021-10-05">
    </div>
  </div>  
  <div class="row align-items-center">
    <div class="col-sm-2 mt-3">
      <h4 class="text-right justify-content-end col-md-3 col-lg-2 col-xl-2 col-xxl-1 mt-3">Валюта</h4>
    </div>
    <div class="col-md-6 col-lg-5 col-xxl-4 mt-3">
      <select id="cur__select" class="form-select form-select-lg custom-button-block text-left" aria-label="Выбор валюты">
        <option selected>Выберите валюту</option>
        {% for cur in currency %}
        <option value="{{ cur.pk }}">{{ cur.char_code }} - {{cur.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% csrf_token %}
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col-1">#</th>
        <th scope="col-1">Код</th>
        <th scope="col-1">Симв.код</th>
        <th scope="col-1">Номинал</th>
        <th scope="col-5">Валюта</th>
        <th scope="col-3">Курс</th>
      </tr>
    </thead>
    <tbody>
      {% for cur_rate in currency_rate %}
        <tr>        
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ cur_rate.currency.num_code }}</td>
          <td>{{ cur_rate.currency.char_code }}</td>
          <td>{{ cur_rate.nominal }}</td>
          <td>{{ cur_rate.currency.name }}</td>
          <td>{{ cur_rate.value }} RUR</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block js %}
<script src="{% static '/js/config/config.js' %}"></script>
<script src="{% static '/js/utils/debouncing.js' %}"></script>
<script src="{% static '/js/api/Api.js' %}"></script>
<script src="{% static 'currency.js' %}"></script>

{% endblock %}