{% extends "base.html" %}
{% block title %}Получение курсов валют{% endblock %}
{% load static %}
{% block css %}<link rel="stylesheet" href='{% static "pages/index.css" %}'>{% endblock %}
{% block content %}

<main class="container">
  {% csrf_token %}
  <div class="row">
  <h1>Курсы валют по состоянию на <input id="cur__date" class="date__input card" type="date" name="calendar" value="{{ date_rate_str }}"></h1>
  </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col-1">#</th>
          <th scope="col-1">Номинал</th>
          <th scope="col-5">Наименованиев валюты</th>
          <th scope="col-5">Курс</th>
        </tr>
      </thead>
      <tbody>
        {% for cur in currency %}
          <tr>        
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{cur.nominal }}</td>
            <td>{{cur.currency.name }}</td>
            <td>{{cur.value }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

</main>
{% endblock %}
{% block js %}
<script src="{% static '/js/config/config.js' %}"></script>
<script src="{% static '/js/utils/debouncing.js' %}"></script>
<script src="{% static '/js/api/Api.js' %}"></script>
<script src="{% static 'currency.js' %}"></script>

{% endblock %}