{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}

<main class="main container">
  <div class="main__header">
    <h1 class="main__title">{{ title }}</h1>
  </div>
  <div>
    <p> </p>
  </div>
  <p class="custom-center-block">
    <p> Автор - человек, интересующийся всем, что так или иначе связано с финансами</p>
    <p> - изменение финансовых показателей кредитных организаций (и не только)</p>
    <p> - изменение курсов валют</p>
    <p> - изменение цен на сырьевые товары</p>
    <p> - изменение ВВП</p>
    <p> Активно интересующийся всем новым в области финансов и, особенно, в сфере fintech-технологий. </p>
    <p></p>
    <p>  Данный проект реализует опыт работы в финансовой сфере, а также аккумулирует "знания",</p>
    <p>полученную из официальных источников, публичных публикаций и других подтвержденных источников</p>
  </div>


</main>
{% endblock %}