{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block meta_description %}
<meta name="description" content="Справочник балансовых счетов кредитных организаций по данным ЦБ РФ" />
{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href='{% static "pages/index.css" %}'>{% endblock %}
{% block content %}

{% csrf_token %}
<h1 class="custom-button-block custom-button-block row align-items-center mt-3">{{ title }}</h1>
<div class="row align-items-center">
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col-1">Счет</th>
                <th scope="col-1">Раздел баланса</th>
                <th scope="col-10">Наименование счета</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <th scope="row">{{ account.indCode }}</th>
                <td>{{ account.indChapter }}</td>
                <td>{{ account.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block js %}
{% endblock %}