<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col-1">#</th>
      <th scope="col-1">Код</th>
      <th scope="col-1">Симв.код</th>
      <th scope="col-1">Номинал</th>
      <th scope="col-5">Валюта</th>
      <th scope="col-3">Курс</th>
    </tr>
  </thead>
  <tbody>
    {% for cur_rate in currency_rate %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ cur_rate.currency.num_code }}</td>
        <td>{{ cur_rate.currency.char_code }}</td>
        <td>{{ cur_rate.nominal }}</td>
        <td>{{ cur_rate.currency.name }}</td>
        <td>{{ cur_rate.value }} RUR</td>
      </tr>
    {% endfor %}
  </tbody>
</table>