{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block meta_description %}
    <meta name="description" content="Анализ банков, показателей кредитных организаций (динамика, графики, новости)" />
{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href='{% static "pages/index.css" %}'>{% endblock %}
{% block content %}

{% csrf_token %}
<h1 class="custom-button-block custom-button-block row align-items-center mt-3">{{ title }}</h1>
<div class="row align-items-center">
  <div class="col-sm-2 mt-3">
    <h4 class="">Дата</h4>
  </div>
  <div class="col-md-3 col-lg-2 mt-3">
    <input id="cur__date" class="form-control form-control-lg  custom-button-block" type="date" name="calendar"
      value="{{ rate_date }}">
  </div>
</div>
<div class="row">
  <div class="col-md-3 mt-5">
    {% include 'banks/banks_list_currency.html' %}
  </div>
  <div class="col">
    {% include 'banks/banks_data_currency.html' %}
  </div>   
</div>
{% endblock %}

{% block js %}
<script src="{% static '/js/config/config.js' %}"></script>
<script src="{% static '/js/utils/debouncing.js' %}"></script>
<script src="{% static '/js/api/Api.js' %}"></script>
<script src="{% static 'banks.js' %}"></script>
{% endblock %}