<!doctype html>
<html lang="ru">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Аналитика по курсам валют по отношению к рублю (Динамика, график, анализ)" />
   
    <title>{% block title %}{% endblock %} | Аналитик</title>
    <!-- Загрузка статики -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href='{% static "pages/form.css" %}'>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block css %}{% endblock %}
  </head>

  <body>
    {% include 'nav.html' %}
      <div class="main">
        {% block content %}
        <!-- Содержимое страницы -->
        {% endblock %}
      </div>
    {% include 'footer.html' %}
    {% block js %}{% endblock %}
  </body>
</html>