<header class="header">
<nav class="navbar navbar-lg navbar-light">
  <div class="nav__container container navbar navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'currency:index' %}">Аналитика</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if user.is_authenticated %}
      
      {% else %}
      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="" id="dropdown04" data-toggle="dropdown" aria-expanded="false">Валюта</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              <li><a class="dropdown-item" href="{% url 'currency:index' %}">Курсы</a></li>
              <li><a class="dropdown-item" href="{% url 'currency:get_currency_for_day' %}">Запросить курсы в ЦБ</a></li>
              <li><a class="dropdown-item" href="{% url 'currency:example' %}">пример страницы bootstrap </a></li>
            </ul>
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="{% url 'index' %}">Главная</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Банки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Аналитика</a>
          </li>
        </ul>
        <form>
          <input class="form-control" type="text" placeholder="Поиск" aria-label="Search">
        </form>
      </div>
      {% endif %}
    </div>
  </div>
</nav>





</header>