<header class="header">
<nav class="navbar navbar-lg navbar-light">
  <div class="nav__container container navbar navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'currency:index' %}">Аналитика</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="{% url 'core:index' %}">Главная</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="" id="dropdown04" data-toggle="dropdown" aria-expanded="false">Справочники</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              <li><a class="dropdown-item" href="{% url 'currency:index' %}">Курсы</a></li>
              <li><a class="dropdown-item" href="{% url 'banks:index' %}">Список банков</a></li>
              <li><a class="dropdown-item" href="{% url 'banks:view_regions' %}">Список регионов</a></li>
            </ul>
          </li>          
          <li class="nav-item active">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
              aria-expanded="false">Банки</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              <li><a class="dropdown-item" href="{% url 'banks:index' %}">Список </a></li>
            </ul>
          </li>
          {% if user.is_staff %}
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="" id="dropdown04" data-toggle="dropdown" aria-expanded="false">Запросы в
                ЦБ</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown04">
                <li><a class="dropdown-item" href="{% url 'currency:get_currency_for_day' %}">Запросить курсы в ЦБ</a></li>
                <li><a class="dropdown-item" href="{% url 'banks:get_regions' %}">Запросить актуальный список регионов в ЦБ</a></li>
                <li><a class="dropdown-item" href="{% url 'banks:get_enum_bic' %}">Запросить актуальный список БИКов банков</a></li>
                <li><a class="dropdown-item" href="{% url 'banks:get_form_101' %}">Запросить 101 форму</a></li>
              </ul>
            </li>
          {% endif %}
        </ul>
        <form>
          <input class="form-control disabled" type="text" placeholder="Поиск" aria-label="Search">
        </form>
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="" id="dropdown04" data-toggle="dropdown" aria-expanded="false">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person"
                  viewBox="0 0 16 16">
                  <path
                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                </svg>
              </span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              {% if request.user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                <li><a class="dropdown-item" href="{% url 'password_change' %}">Сменить пароль</a></li>
                <li><a class="dropdown-item disabled" href="#">Кабинет пользователя</a></li>
              {% else %}
                <li><a class="dropdown-item" href="{% url 'login' %}">Войти</a></li>
                <li><a class="dropdown-item" href="{% url 'signup' %}">Зарегистрироваться</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>





</header>