<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            {% if user.is_authenticated %}
            <ul class="nav__items list">
                <li class="nav__item nav__item_activenav__item_disabled"><a
                        href="" class="nav__link link">Курсы</a></li>
                <li class="nav__item nav__item_activenav__item_disabled">
                    <a href="" class="nav__link link">Курсы за день</a></li>
                <li class="nav__item nav__item_activenav__item_disabled">
                    <a href="{% url 'currency:currency_for_day' cur_day='1' %}" class="nav__link link">Курсы за период</a></li>
                <li class="nav__item nav__item_activenav__item_disabled">
                    <a href="" class="nav__link link">Избранное</a></li>
                <li class="nav__item nav__item_activenav__item_disabled">
                    <a href="" class="nav__link link">Список покупок</a> <span
                        class="badge badge_style_blue nav__badge" id="counter">{{ shop_list_count }}</span></li>
            </ul>
            <ul class="nav__items list">
                <li class="nav__item"><a href="" class="nav__link link">Изменить пароль</a>
                </li>
                <li class="nav__item"><a href="" class="nav__link link">Выход</a></li>
            </ul>
            {% else %}
            <ul class="nav__items list">
                <li class="nav__item nav__item_activenav__item_disabled"><a href="" class="nav__link link">Курсы</a></li>
                <li class="nav__item nav__item_activenav__item_disabled">
                    <a href="" class="nav__link link">Курсы за день</a>
                </li>
                <li class="nav__item nav__item_activenav__item_disabled">
                    <a href="{% url 'currency:currency_for_day' cur_day='1' %}" class="nav__link link">Курсы за период</a>
                </li>
                <li class="nav__item nav__item_activenav__item_disabled">
                    <a href="" class="nav__link link">Избранное</a>
                </li>
                <li class="nav__item nav__item_activenav__item_disabled">
                    <a href="" class="nav__link link">Список покупок</a> <span class="badge badge_style_blue nav__badge"
                        id="counter">{{ shop_list_count }}</span>
                </li>
            </ul>
            <ul class="nav__items list">
                <li class="nav__item"><a href="" class="nav__link link">Войти</a></li>
                <li class="nav__item"><a href="" class="button button_style_blue">Создать аккаунт</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
</header>